- page_title _("New Self-Hosted Model")
%h1.page-title.gl-font-size-h-display
  = _('New Self-Hosted Model')
= render 'form', url: admin_ai_self_hosted_models_path, back_path: admin_ai_self_hosted_models_path
